<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/css/feedback.css"> 
</head>
<body>

<center><h2 id= "know">Know more about your Doctor</h2>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="public/css/koush.jpg" alt="koush" style="width:47%">
      <div class="container">
        <h3>Koushal Anitha Raja</h3>
        <p class="title">Doctor</p>
         <li><a href="public/css/more.html" target="_blank">Hepatitis A</a></li>
                        <li><a href="public/css/more.html" target="_blank">Hepatitis B</a></li>
        <p>koushalraja@dr.com</p>
              
        <p><button class="button" onclick="parent.location='/koushal'" value="koushal">Reviews</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="public/css/inch.jpg" alt="inch" style="width:49%">
      <div class="container">
        <h3>Inchara Nagaraju</h3>
        <p class="title">Doctor</p>
         <li><a href="public/css/more.html" target="_blank">Hepatitis C</a></li>
                        <li><a href="public/css/more.html" target="_blank">Hepatitis E</a></li>
        <p>inchara@dr.com</p>
        <p><button class="button" onclick="parent.location='/inchara'" value="inchara">Reviews</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="public/css/dars.jpg" alt="dars" style="width:48.5%">
      <div class="container">
        <h3>Darshil Sanjay Shah</h3>
        <p class="title">Doctor</p>
         <li><a href="public/css/more.html" target="_blank">Palliative Care</a></li>
                        <li><a href="public/css/more.html" target="_blank">Scabies</a></li>
        <p>darshilshah@dr.com</p>
        <p><button class="button" onclick="parent.location='/darshil'" value="darshil">Reviews</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="public/css/ami.jpg" alt="ami" style="width:43%">
      <div class="container">
        <h3>Ami Desai</h3>
        <p class="title">Doctor</p>
                        <li><a href="public/css/more.html" target="_blank">Scarlet Fever</a></li>
                        <li><a href="public/css/more.html" target="_blank">Adenovirus</a></li>
                
        <p>amidesai@dr.com</p>
        <p><button class="button" onclick="parent.location='/ami'" value="ami">Reviews</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="public/css/sai.jpg" alt="sai" style="width: 39%">
      <div class="container">
        <h3>Saikrishna Sarangan</h3>
        <p class="title">Doctor</p>
        <li><a href="public/css/more.html" target="_blank">Campylobacter</a></li>
                        <li><a href="public/css/more.html" target="_blank">Cryptococcus</a></li>
        <p>saikrishna@dr.com</p>
        <p><button class="button" onclick="parent.location='/saikrishna'" value="saikrishna">Reviews</button></p>
      </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
      <img src="public/css/hosp.jpg" alt="hosp" style="width: 45.5%">
      <div class="container">
        <h3>Hospital</h3>
        <p class="title">Custom</p>
        <p>Reviews for Hospital</p>
        <p>kidas@hospital.com</p>
        <p><button class="button" onclick="parent.location='/hospital'" value="hospital">Reviews</button></p>
      </div>
    </div>
  </div>
  </center>
  <a href="/">
        <h3>
            <center>Login</center>
        </h3>
    </a><br>

</body>
</html>
