html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  h3{
    color: rgb(5, 158, 158);
  }
  h4{
    color: rgb(5, 158, 158);
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 2.0);
  }
  
  .container {
    padding: 0 16px;
  }
  h2[id= "know"]{
    color:  rgb(5, 158, 158);
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(146, 144, 144);
    font-size: 110%;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(39, 134, 26);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(39, 134, 26);
  }
  p {
    color: rgb(121, 129, 3);
  }