<ul>
  {{#each searchResults}}
    <li>
      <h1>Doctor Name: {{this.username}}</h1>

      <p>The doctor is an American neurosurgeon, medical reporter, and writer. The docotr serves as associate chief of the neurosurgery service at Grady Memorial Hospital in Atlanta, Georgia, associate professor of neurosurgery at the Emory University School of Medicine, and chief medical correspondent for CNN.</p>
      <p>Rating: {{this.rating}}</p>
    </li>
  {{/each}}
</ul>