<div class="row">
  <div class="column">
    <img src="/public/css/home3.jpeg" alt="Hospital" width="1140" height="400" />
  </div>
  <div class="column">
    <div class="form-body">
      <form>
        <input
          type="button"
          onClick="parent.location='/users/profile'"
          value="My profile"
        />
        <br />
        
        <input
          type="button"
          onClick="parent.location='/users/book'"
          value="Book an Appointment"
        />
        
        <br />
        <input
          type="button"
          onClick="parent.location='/users/view_my_appointments'"
          value="Appointment/Comment"
        />
        <br />
        <input
          type="button"
          onClick="parent.location='/users/search_doctors'"
          value="Search Doctors"
        />
        <br />
        <input
          type="button"
          onClick="parent.location='/users/logout1'"
          value="Logout"
        />
      </form>

    </div>
  </div>
</div>