<h1 class="view">Cannot book a room for this patient. All rooms alloted.</h1>
<p class="view3">Click here to
<a href="/doctors/view_patients">view all patients</a></p>
<br>
<br>
<br><br>
<br>
<br>
<br><br><br>
<br>
<br>
<br><br>
