<h2 class="view">Hey, You LoggedOut Successfully!</h2>
<p class="view3">Click <a id ="logout" href="/doctorsusers/login">here(Logout)</a> to return to login page.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>