
<h1 class="welcome">
  Welcome to the Hopsital. Please login to enjoy our services
</h1>
<img
      src="public/css/home3.jpeg"
      alt="Hospital"
      width="1400"
      height="400"

    >


<br><br><p class="bt">
<input
          type="button"
          onClick="parent.location='/doctorsusers/'"
          value="Doctors Login here" id="click">

<input
          type="button"
          onClick="parent.location='/users'"
          value="Patients Login here" id="click1"><br><br>

