
  <h2 class="logout">Successfully Logged out</h2>
  <h3 class="logout"><a id="logout" href="/">Login Here</a></h3>

<br />
<br /><br /><br />
<br />
<br /><br /><br />
<br />
<br /><br /><br />
<br />
<br /><br /><br />